.large-hero {
    margin-top: 1rem;
    position: relative;

    &__title {
        font-size: 2.15rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: $steelBlue;
    }

    &__text-content {
        position: absolute;
        left: 10%;
        top: 35%;
        transform: translateY(-50%);


        &__strip-title {
            padding: 1.25rem 2.5rem;
            border-radius: 0.3575rem 0.3575rem 0 0;
            background-color: $mainBlue;
            display: inline-block;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 1px;
            font-weight: 900;
            font-size: 0.85rem;
            margin-bottom: 0;
        }

        &__text {
            background-color: $white;
            padding: 3.125rem 2.5rem;
            width: 50%;
            border-radius: 0 6px 6 px 6 px
        }
    }

    &__subtitle {
        font-size: 1.75rem;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-top: 0;
        margin-bottom: 0.675rem;
        color: $steelBlue;
    }

    &__feature-list {
        list-style: circle;
        margin-left: -1.3rem;
        color: $grey;

        &_item {
            line-height: 1.5;
            margin-bottom: 0.625rem;
        }
    }

}
